.header{
    background-color: antiquewhite;
    height: 150px;
}
.header img {
    float: left;
    width: 140px;
    height: 90px;
    margin-top: 20px;
}

#a{
    text-align: left;
    padding-left: 10px;
}
.header h1 {
    position: relative;
    left: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    padding-top: 20px;
    margin-top: 0px;
}
  
.header h3{
    position: relative;
    left: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: orangered;
}

.header h6{
    position: relative;
    left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#name{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    right: auto;
    bottom: 50px;
}

img{
    height: 275px;
    width: 400px;
    padding-left: 10px;
}
.tabs {
    /* Step 1: Enable Flex on the container */
    display: flex;
    
    /* Step 2: Enable flex-wrap to put content section below tab label */
    flex-wrap: wrap;
  }
  .tabs > section {  
    /* Step 3: Move content <section> to the end, after the tab labels */
    order: 999;
    
    /* Step 4: Make sure the content <section> is 100% width */
    width: 100%;
    
    /* Step 5: Hide all content <section> by default */
    display: none;
  }
  .tabs > input {
    /* display: none; Don’t use display:none. Bad for accessibility */
    
    /* Step 6: Hide the radio inputs */
    opacity: 0;
    
    /* Step 7: Make sure the radio inputs don’t take up space in layout */
    position: absolute;
  }
  /* Step 8: Select the label right next to the selected input */
  .tabs > input[type=radio]:checked + label {
    /* Step 9: Highlight the selected label */
    background: yellow;
  }
  /* Step 10: Select the section right next to the label which is next to the selected input */
  .tabs > input[type=radio]:checked + label + section {
    /* Step 11: Unset the 'display:none' we did in step 5 */
    display: unset;
  }
  
  /* Done. Make sure to disable the debug code at the beginning of CSS. And now it is time to make the tabs look good */
  
  /* Make the tabs look good */
  /* Final Step: Make the tabs pretty with padding and colors */
  
  .tabs > label {
    padding: .5em 1em;
    background: #b4d5e4;
    border-right: 1px solid #798f99;
  }
  .tabs > label:last-of-type {
    border-right: none;
  }
  .tabs > input[type=radio]:checked + label {
    background: #798f99;
  } 
  
  .tabs section {
    border: 1px #798f99 solid;
    border-top: 5px #798f99 solid;
    padding: 1em;
  }
  
  
  body {
    padding: 2em;
  }
  
 